<%- include('includes/head.ejs', { title: 'Error!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>404 NOT FOUND!</h1>
    <p>404 NOT FOUND!!</p>
  </main>
</body>
</html>